/* Copied from http://jsfiddle.net/skip405/NfeVh/4/ */

.header {
    text-align: justify;

    /* IE special */
    width: 100%;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.header:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

h1, h2, h3, h4, h5 {
    display: inline-block;
    margin-top: 0.321em;

    /* ie 7*/
    *display: inline;
    *zoom: 1;
    *text-align: left;
}

.navbar-brand {
    font-weight: bold;
}


img + em, a + em {
    font-size: 0.7em;
}


/* Taken from http://stackoverflow.com/a/5214204/2557842 */
h3.readmore {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h3.readmore span {
    background: #ffffff;
    padding: 0 10px;
}

h3.readmore a {
    color: #666666;
}
