<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="container content">
      <div class="masthead">
          <a href="{{ site.baseurl }}" title="Home"><img src="{{ site.baseurl }}public/avatar_banner_small.jpg"></img></a>
          <div class="header">
            <a href="{{ site.baseurl }}" title="Home">
            <h2 class="masthead-title">{{ site.title }} <small>{{ site.tagline }}</small></h2>
            </a>
            <div class="nav">
                <a href="{{ site.baseurl }}about" title="About">About Me</a>
            </div>
        </div>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
          - <a href="{{ site.baseurl }}about" title="About">About</a>
        </p>
      </div>
    </div>

  </body>
</html>
