<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">SRLM</a>
            <ul class="navbar-nav mr-auto">
                <li class="navbar-text">
                    Software Engineer
                </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More Pages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/board-games">Board Games</a>
                            <a class="dropdown-item" href="/snowboarding">Snowboarding</a>
                            <a class="dropdown-item" href="/opinions">Opinions</a>
                            <a class="dropdown-item" href="/tags">Tags</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <div class="container content">
        {{ content }}
    </div>

    <div class="footer">
        <p>
            &copy; {{ site.time | date: '%Y' }}. All rights reserved.
            - <a href="/about" title="About">About</a>
        </p>
    </div>

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0241f4019547405793ef8f64774fdc72"}'></script>
</body>

</html>
